body{
  background-color: #B0B0B0;
}

.infos{
  display: flex;
   flex-direction: column;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
}

.infos h1{
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.infos p{
  padding: 5px; 
  font-family: monospace;
  display: flex;
  justify-content: center;
}

.nav{
  display: flex;
}
.nav p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.nav li{
  font-family: Georgia;
  font-weight: bold;
}

.hobbies {
    display: flex;
    justify-content: space-around; 
}

.item {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;     
    margin: 10px;     
}


.item img {
    
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-top: 5px; 
}


.item p {
    font-weight: bold;
    margin-bottom: 5px;
}

h2{
  display: flex;
  justify-content: center;
}

.iframes{
      display: flex;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: space-evenly;
    font-family: cursive;
}

.voltar {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    color: rgb(104, 89, 89);
}

.link-projetos {
    display: inline-block;
    margin-top: 10px;
    background-color: #939392;
    color: #000000;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.link-projetos:hover {
    background-color: gray;
    color: white;
}