body{
     background-image: url('../img/fundo.jpg');
     background-size:cover
}
.inicio{
    display: flex;
    justify-content: center;
}
.txt{
    display: flex;
    justify-content: center;
}

#canvas1{
    display: flex;
    justify-content: center;
    border: 1px solid;
}
.voltar {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    color: white;
}

.link-projetos {
    display: inline-block;
    margin-top: 10px;
    background-color: #6bb3cd;
    color: gray;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.link-projetos:hover {
    background-color: gray;
    color: white;
}