 body {
            font-family: Arial, sans-serif;
            background-color: lightgray;
            text-align: center;
            padding-top: 50px;
            transition: background-color 0.5s;
        }

        .digite {
            background-color: white;
            display: inline-block;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px gray;
        }

        .input {
            padding: 5px;
            margin: 5px;
        }

        button {
            padding: 6px 10px;
            cursor: pointer;
        }

        #resultado {
            margin-top: 10px;
            font-weight: bold;
        }

         #icone {
            font-size: 22px;
            margin-left: 8px;
            font-weight: bold;
        }

        .voltar {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    color: white;
}

.link-projetos {
    display: inline-block;
    margin-top: 10px;
    background-color: #b1b0af;
    color: #000000;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.link-projetos:hover {
    background-color: gray;
    color: white;
}